* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 24px;
  color: white;
  /* color: #b9c4ca; */
  /* color: #fff0dd; */
  /* color: #ffd815; */
  /* color: #685374; */
  /* color: #edc796; */
  /* color: #db8b56; */
  /* color: #b63d42; */
  /* color: #f2c300; */

  /* color-scheme: light dark; */
  /* color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */

  /* font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%; */
}

body {
  /* display: flex;
  place-items: center; */
  width: 100%;
  min-height: 100vh;
  scrollbar-gutter: stable;
  scroll-behavior: smooth;
  background: fixed center / cover no-repeat url(./assets/pxfuel.jpg);
}

#root {
  max-width: 1440px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.main {
  width: 100%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

/* h1 {
  font-size: 3.2em;
  line-height: 1.1;
} */

/* button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
