.wrapper_person-data {
  display: flex;
  flex-wrap: wrap;
  place-content: center;
  gap: 30px;
}

.item_person {
  padding: 15px;
  border: 1px solid black;
  width: 400px;
  background-color: rgba(104, 83, 116, 0.5);
  /* background-color: rgba(237, 199, 150, 0.5); */
  /* background-color: rgba(219, 139, 86, 0.5); */
  /* background-color: rgba(182, 61, 65, 0.5); */
}
